<a href="https://colab.research.google.com/github/richieyuyongpoh/Practical-R-series/blob/main/1_1_Vectors.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Learn it in 5 minutes - Practical Series**

Prepared by:
    
Dr. Yong Poh Yu
<br><br>

LinkedIn: [Yong Poh Yu](https://www.linkedin.com/in/yong-poh-yu/)

Github: [Practical R Series](https://github.com/richieyuyongpoh/Practical-R-series/tree/main/Introduction)

# **Notice**
The practical handout is open-source and under 
[GNU General Public License v3.0](https://www.gnu.org/licenses/gpl-3.0.en.html).

Please cite my repository/work if you are using any contents written in this practical handout.

## Vectors

Main Reference: [SWIRL](http://swirlstats.com/)

**Introduction**

Numerical vectors: contain the numerical values only

Logical vectors: contain the values TRUE, FALSE, and NA

Character vector: contain the Characters only

1: create a numeric vector `num_vect` that contains the values 7, 55,-10, and 10.

In [2]:
num_vect <- c(7, 55, -10, 10)
num_vect

[1]   7  55 -10  10

2: create a variable called `tf` that gets the result of `num_vect < 11`

In [3]:
tf <- num_vect < 11
tf

[1]  TRUE FALSE  TRUE  TRUE

3: How many numbers in the num_vector are smaller than 11?

In [4]:
sum(tf)

[1] 3

4: Which element(s) in the num_vector is/are smaller than 11?

In [5]:
which (num_vect < 11)

[1] 1 3 4

5: get the result of `num_vect` that is greater than OR equal to 6

In [6]:
num_vect >= 6

[1]  TRUE  TRUE FALSE  TRUE

6: character vector

In [7]:
my_favourite_language <- c("R", "Python", "SQL")
my_favourite_language

[1] "R"      "Python" "SQL"

7: join the elements of `my_favourite_language` together into one continuous character string

In [13]:
paste(my_favourite_language, collapse = " ")

[1] "R Python SQL"

8:  add more languages

In [9]:
my_favourite_languages <- c(my_favourite_language, "Java", "C")
my_favourite_languages

[1] "R"      "Python" "SQL"    "Java"   "C"

In [10]:
paste(my_favourite_languages, collapse = " ")

[1] "R Python SQL Java C"

9: join two character vectors

In [11]:
paste("Hello", "world!")

[1] "Hello world!"

10: add `sep` argument

In [15]:
paste("Hello", "world!",sep= ",")

[1] "Hello,world!"

In [14]:
paste("Hello", "world!",sep= "")

[1] "Helloworld!"

11: paste two or more character variables

In [16]:
a <- "TensorFlow"
b <- "Pytorch"


paste(a,b)

[1] "TensorFlow Pytorch"

12: Special Case:

In [17]:
# loop number
n = 10

# save the results as an appropriate name that carries the info of loop number

# supposedly: result_10 <- 3 + 5

# Eg: 

paste("result_",n,sep="") <- 3 + 5

ERROR: ignored

13: How about?

In [18]:


assign(paste("result_",n,sep=""),  3 + 5) # result_10 <- 3+5

result_10

[1] 8